<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <%date_now = DateTime.now%>
        <h1>Today</h1>
        <%="The date is #{date_now.strftime('%A, %B %d, %Y')}"%>
    </body>
</html>



